/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  height: 100%;
  width: 100%;
  color: white;
  line-height: 1.4;
  /*border-right: 6px solid black*/
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header {
  margin: 20px;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.custom-width {
  margin: auto;
  width: 80%;
  height: 50%;
  padding-bottom: 8%;
}

.margin-top {
  margin-top: 10%;
}

.container {
  margin-bottom: 10%;
}

.company-description-outer {
  display: flex;
  align-items: center;
}

.company-description {
  width: 80%;
  height: 80%;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
  display: flex;
  align-items: center;
  border-left: 3px solid black;
}

.company-description p {
  font-family: 'Quicksand', sans-serif;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 0
}

.subheader {
  padding-bottom: 5%;
  font-family: 'Alata', sans-serif;
  align-items: center;
  text-align: center;
  -webkit-animation: 4.5s ease 0s normal forwards 1 fadein;
  animation: 4.5s ease 0s normal forwards 1 fadein;
}

.imp p {
  color: black;
  font-family: 'Quicksand', sans-serif;
}

.imp p a {
  color: black;
}

h1 {
  color: black;
  font-family: 'Courier New', monospace;
  font-size: clamp(1.3rem, 2.5vw, 2.8rem);
  font-weight:700;
  letter-spacing: 0.20em;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 100%;
}

.imp {
  width: 80%;
  text-align: left;
  margin: auto;
}

.impressum {
  text-align: center;
  color: black;
}

.py-sm-3 .impressum a {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  color: black;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.bolder p{
  font-family: 'Quicksand', sans-serif;
}

 /* DEMO GENERAL ============================== */
.hover {
  width: 80%;
  height: 80%;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding-bottom: 80%;
  padding-right: 8%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


/* DEMO 2 ============================== */
.hover-2 .hover-overlay {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.hover-2-content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  margin: 0;
  padding: 0;
}


.hover-2-title {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2-description {
  width: 100%;
  height: 77%;
  right: 10%;
  margin-bottom: 10%;
  vertical-align: bottom;
  float: right;
  position: absolute;
  text-align: right;
  border-right: 3px solid #fff;
  padding-right: 5%;
  bottom: 0;
  opacity: 0;
  z-index: 99;
  transition: all 0.4s;
}

.hover-2:hover .hover-2-title {
  transform: translateY(-1.5rem);
}

.hover-2:hover .hover-2-description {
  bottom: 0.5rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.7);
}

.hover-2 img {
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-2-description img {
  float: right;
  position:absolute;
  padding-bottom: 1em;
  bottom:0;
  left: 90%;
  top: 90%;
  width: 20%;
  height: 20%;
}


.col-sm  a, a:visited {
  text-decoration: none;
  color: white;
  margin-top: 10px;
 }

.col-sm a:hover {
  text-decoration: none;
  color: lightgrey;
}

.typewriter h1 {
  line-height: 1;
  font-family: 'Courier New', monospace;
  font-size: clamp(1.3rem, 2.5vw, 2.8rem);
  font-weight:700;
  letter-spacing: 0.20em;
  text-align: center;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  /*white-space: nowrap; !* Keeps the content on a single line *!*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation:
    typing 4.5s steps(19, end),
    blink-caret 2.3s forwards;
  margin-bottom: 100px;
  width: 80%;
}

article {
  display: inline-grid;
  grid-template-columns: auto auto;
}

/* The typing effect*/
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect*/
@keyframes blink-caret {
  100%, to { border-color: transparent }
  0% { border-color: black; }
}


body {
  height: 100%;
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  background: white;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

.row {
    row-gap: 20px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

